/* Custom font sizes */
.custom-heading {
    font-size: 1.5rem;  /* Smaller heading */
    line-height: 1.2;   /* Adjust line height */
    font-weight: bold;  /* Ensures bold text */
    color: #f8f9fa;     /* Light text for contrast */
}

.custom-paragraph {
    font-size: 18px;  /* Smaller paragraph text */
    color: #ffffff;       /* Muted text color */
    margin-bottom: 1rem;  /* Margin below paragraph */
}

.btn {
    padding: 0.5rem 1.25rem; /* Adjust padding to match smaller font */
    margin-left: 15px;
}
#poster1{
    height: 180px;
    width: auto;
    margin-left: 40%;
}
#poster1-btn{
    margin-left: 20%;
}
.container-card{
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}

@media(max-width: 700px){
    .btn-lg{
        padding: 20px;
        font-size: 20px;
    }
    #poster1{
        margin-left: 30%;;
    }
    #poster1-btn{
        margin-left: 0%;
    }
}
